# Built files
/dist/
/public/
/node_modules/
/allure-results/

# Managed by other tools
package-lock.json
Export.svg
Usage.svg

# No linters configured
*.md
*.yml
*.json
LICENSE

src/prepare/getNode.sh
