# Built files
/dist/
/public/
/node_modules/
/allure-results/

# Managed by other tools
package-lock.json
Export.svg
Usage.svg

# No Parser
LICENSE
.*ignore
.gitattributes
.editorconfig
.prettierignore
.npmrc

src/prepare/getNode.sh
